<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.0.5700.0">
	<Sites>
		<add SiteName="Travelling Agency" SiteId="646512f8-42bb-4462-a2a0-1f1d4962b25b" />
	</Sites>
</analyticsConfig>