<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.2.5900.0" defaultFrontendTheme="Vacation">
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/TravelAgency/App_Themes/Vacation" name="Vacation" />
	</frontendThemes>
</appearanceConfig>