<?xml version="1.0" encoding="utf-8"?>
<dynamicModulesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.1.6110.0">
	<contentViewControls>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.TravellingAgency.CountryBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CountryBackendList" configFile="DynamicModulesConfig.TrvllngAgn.Country_ntryBckndLst.config" />
				<config:lazy key="CountryBackendInsertView" configFile="DynamicModulesConfig.TrvllngAgn.Country_BckndInsrtVw.config" />
				<config:lazy key="CountryBackendPreviewView" configFile="DynamicModulesConfig.TrvllngAgn.Country_yBckndPrvwVw.config" />
				<config:lazy key="CountryBackendEditView" configFile="DynamicModulesConfig.TrvllngAgn.Country_ryBckndEdtVw.config" />
				<config:lazy key="CountryBackendDuplicateView" configFile="DynamicModulesConfig.TrvllngAgn.Country_BckndDplctVw.config" />
				<config:lazy key="CountryBackendVersionPreview" configFile="DynamicModulesConfig.TrvllngAgn.Country_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.TravellingAgency.CityBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="CityBackendList" configFile="DynamicModulesConfig.TrvllngAgn.City_CityBckndLst.config" />
				<config:lazy key="CityBackendInsertView" configFile="DynamicModulesConfig.TrvllngAgn.City_BckndInsrtVw.config" />
				<config:lazy key="CityBackendPreviewView" configFile="DynamicModulesConfig.TrvllngAgn.City_yBckndPrvwVw.config" />
				<config:lazy key="CityBackendEditView" configFile="DynamicModulesConfig.TrvllngAgn.City_tyBckndEdtVw.config" />
				<config:lazy key="CityBackendDuplicateView" configFile="DynamicModulesConfig.TrvllngAgn.City_BckndDplctVw.config" />
				<config:lazy key="CityBackendVersionPreview" configFile="DynamicModulesConfig.TrvllngAgn.City_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.TravellingAgency.HotelBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="HotelBackendList" configFile="DynamicModulesConfig.TrvllngAgn.Hotel_HotlBckndLst.config" />
				<config:lazy key="HotelBackendInsertView" configFile="DynamicModulesConfig.TrvllngAgn.Hotel_BckndInsrtVw.config" />
				<config:lazy key="HotelBackendPreviewView" configFile="DynamicModulesConfig.TrvllngAgn.Hotel_lBckndPrvwVw.config" />
				<config:lazy key="HotelBackendEditView" configFile="DynamicModulesConfig.TrvllngAgn.Hotel_tlBckndEdtVw.config" />
				<config:lazy key="HotelBackendDuplicateView" configFile="DynamicModulesConfig.TrvllngAgn.Hotel_BckndDplctVw.config" />
				<config:lazy key="HotelBackendVersionPreview" configFile="DynamicModulesConfig.TrvllngAgn.Hotel_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.TravellingAgency.RestaurantBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="RestaurantBackendList" configFile="DynamicModulesConfig.TrvllngAgn.Rsturant_trntBckndLst.config" />
				<config:lazy key="RestaurantBackendInsertView" configFile="DynamicModulesConfig.TrvllngAgn.Rsturant_BckndInsrtVw.config" />
				<config:lazy key="RestaurantBackendEditView" configFile="DynamicModulesConfig.TrvllngAgn.Rsturant_ntBckndEdtVw.config" />
				<config:lazy key="RestaurantBackendDuplicateView" configFile="DynamicModulesConfig.TrvllngAgn.Rsturant_BckndDplctVw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.TravellingAgency.FestivalBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="FestivalBackendList" configFile="DynamicModulesConfig.TrvllngAgn.Festival_stvlBckndLst.config" />
				<config:lazy key="FestivalBackendInsertView" configFile="DynamicModulesConfig.TrvllngAgn.Festival_BckndInsrtVw.config" />
				<config:lazy key="FestivalBackendPreviewView" configFile="DynamicModulesConfig.TrvllngAgn.Festival_lBckndPrvwVw.config" />
				<config:lazy key="FestivalBackendEditView" configFile="DynamicModulesConfig.TrvllngAgn.Festival_vlBckndEdtVw.config" />
				<config:lazy key="FestivalBackendDuplicateView" configFile="DynamicModulesConfig.TrvllngAgn.Festival_BckndDplctVw.config" />
				<config:lazy key="FestivalBackendVersionPreview" configFile="DynamicModulesConfig.TrvllngAgn.Festival_ckndVrsnPrvw.config" />
			</views>
		</contentViewControl>
		<contentViewControl definitionName="Telerik.Sitefinity.DynamicTypes.Model.TravellingAgency.AirportBackendDefinition" config:flags="1">
			<views>
				<config:lazy key="AirportBackendList" configFile="DynamicModulesConfig.TrvllngAgn.Airport_rprtBckndLst.config" />
				<config:lazy key="AirportBackendInsertView" configFile="DynamicModulesConfig.TrvllngAgn.Airport_BckndInsrtVw.config" />
				<config:lazy key="AirportBackendEditView" configFile="DynamicModulesConfig.TrvllngAgn.Airport_rtBckndEdtVw.config" />
				<config:lazy key="AirportBackendDuplicateView" configFile="DynamicModulesConfig.TrvllngAgn.Airport_BckndDplctVw.config" />
			</views>
		</contentViewControl>
	</contentViewControls>
</dynamicModulesConfig>