<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.3.5600.0">
	<notifications newPostNotificationTemplateId="5dbe9f47-a4de-64d4-9a40-ff000083f14c" newThreadNotificationTemplateId="5ebe9f47-a4de-64d4-9a40-ff000083f14c" />
</forumsConfig>