<?xml version="1.0" encoding="utf-8"?>
<projectConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="7.2.5300.0" projectName="Travelling Agency" dateCreated="2014-06-30 11:22:38Z">
	<defaultSite id="646512f8-42bb-4462-a2a0-1f1d4962b25b" name="Default" siteMapRootNodeId="f669d9a7-009d-4d83-ddaa-000000000002" />
</projectConfig>