<?xml version="1.0" encoding="utf-8"?>
<translationsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="9.2.6200.0">
	<connectors>
		<add librariesProviderName="sf_translations_lib_provider" exportLibraryId="5c543ef6-cc9c-433a-8c7b-27f80010a87f" importLibraryId="00cd84f6-8d30-46ba-ad1f-d98fcd5df849" name="Xliff" config:flags="1" />
	</connectors>
</translationsConfig>